<% include ./partials/header %>
<div class='container'>
   <div class='row'>
      <h1 class='text-center'>Create new ski resort</h1>
      <div style='width: 30%; margin: 30px auto;'>
         <form action='/skiresorts' method='POST'>
            <div class='form-group'>
               <input class='form-control' type='text' name='name' placeholder='Ski Resort Description'/>
            </div>
            <div class='form-group'>
               <input class='form-control' type='text' name='image' placeholder='Ski Resort Image'/>
            </div>
            <div class='form-group'>
               <input class='form-control' type='text-area' name='description' placeholder='Desription'/>
            </div>
            <div class='form-group'>
               <button class='btn btn-lg btn-info btn-block' type='submit'>Submit</button>
            </div>
         </form>         
         <a href='/skiresorts'>Go Back</a>  
      </div>
   </div>
</div>

<% include ./partials/footer %>