<% include ./partials/header %>
<div class='container'>
   <h1>Create new ski resort</h1>
   
   <form action='/skiresorts' method='POST'>
      <input class='form-control' type='text' name='name' placeholder='Ski Resort Description'/>
      <input class='form-control' type='text' name='image' placeholder='Ski Resort Image'/>
      <button class='btn btn-lg btn-default' type='submit'>Submit</button>
   </form>
   
   <a href='/skiresorts'>Go Back</a>   
</div>

<% include ./partials/footer %>