<% include ./partials/header %>
<h1>Ski Resorts Page</h1>

<a href='./skiresorts/new'>Add New Ski Resort</a>

<% skiresorts.forEach(function(skiresort){ %>
   <div>
      <%= skiresort.name %>
   </div>
   <div>
      <img src='<%= skiresort.image %>'>
   </div>
<% }) %>

<% include ./partials/footer %>