<% include ../partials/header %>

<h1>Show Specific Ski Resort Page</h1>

<div class="col-sm-12">
   <div class='thumbnail'>
      <img src='<%= skiresort.image %>'>
      <div class='content text-center'>
         <h4><%= skiresort.name %></h4>
      </div>
      <div class='description'>
         <p><%= skiresort.description %></p>
      </div>
   </div>
</div>

<% include ../partials/footer %>